:host {
  text-align: center;

  .library-actions {
    margin: 20px 0 40px 0;
    display: flex;
    flex-direction: row;
    justify-content: center;
    button {
      margin: 0 5px;
    }
  }

  .filter {
    margin-bottom: 15px;
    mat-checkbox {
      margin: 0 5px;  
    }
  }

  .songs-container {
      display: flex;
      flex-direction: column;
      align-items: center;
      width: 700px;
      margin: 0 auto;

    .song {
      width: 100%;
      position: relative;
      padding: 15px;
      background-color: rgb(246, 246, 246);
      text-align: left;
      span.bold {
        font-weight: bold;
      }
      &:nth-child(2n) {
        background-color: #ffffff;
      }

      & .actions {
        position: absolute;
        right: 15px;
        top: 13px;
        mat-icon {
          cursor: pointer;
          margin: 0 5px;
        }
      }
    }
  }
}